<html>
<head>
    <title>OIDC Test</title>
</head>

<body text="yellow">
<h2>
    <pre>{{error.stack}}</pre>
</h2>

<br />
<br />
<br />
<h3><a href="/" style="color:yellow">Back</a></h3>
</body>
</html>
